---
// This component will serve as the container for all toast messages
// It will be rendered once in the main layout
---

<div
  id="toast-container"
  class="fixed bottom-4 right-4 z-[9999] flex flex-col gap-3 pointer-events-none"
>
  <!-- Toasts will be dynamically added here by JavaScript -->
</div>

<script>
  // This script will be responsible for managing the toast container
  // and ensuring it's ready for toasts to be added.
  // The actual showToast function will be in src/lib/utils/toast.ts
</script>
